<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SnapPHP{% endblock %}</title>
    <link rel="stylesheet" href="{{ assets('css/styles.css') }}">
    <link rel="stylesheet" href="{{ assets('css/app.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

	{% block footer %}
    <footer>
    	<div class="container">
        	<p>&copy; {{ "now"|date("Y") }} SnapPHP</p>
    	</div>
    </footer>
    {% endblock %}

    {% block javascripts %}
    <script src="{{ assets('js/app.js') }}"></script>
    {% endblock %}
</body>
</html>